.About {
  line-height: 1.8;
  .about-hero {
    min-height: $heroSize;

    font-family: $primary-sans, Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: $primary-serif;
    @include at-size(mobile) {
      min-height: 120px;
      .content {
        padding: 0;
      }
    }
  }

  .about-text {
    border-top: 1px solid #afafaf;
    margin-top: 32px;
    padding: 12px 0;
  }

  .content {
    max-width: 600px;
    padding: 0 64px;
    margin: 0 auto;
    margin-bottom: 128px;

    @include at-size(mobile) {
      align-self: flex-end;
      padding: 24px;
    margin-bottom: 24px;
    }
  }

  .mainline {
    font-size: $font-h1;
    color: black;
    text-align: center;
    @include at-size(mobile) {
      font-size: $font-h3;
    }
  }

  img {
    display: flex;
    align-self: center;
    max-width: 100%;
    margin: 0 auto;
  }
}
