@mixin section {
  max-width: $tablet;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
}

.RecipeList {
  margin-bottom: 32px;

  // -- &:HERO

  .home-hero {
    align-items: center;
    background: white;
    display: flex;
    justify-content: center;
    margin: 64px 0 24px;
    position: relative;
    width: 100%;
    text-align: center;
    @include at-size(mobile) {
      min-height: 0;
      margin: 24px 0 24px;
      margin-bottom:  24px;
    }

    .content {
      max-width: 600px;
      padding: 0 64px;

      @include at-size(mobile) {
        align-self: flex-end;
        padding: 32px;
        padding-bottom: 16px;
      }
    }

    .mainline {
      font-size: $font-h1;
      @include at-size(mobile) {
        font-size: $font-h3;
      }
    }

    .byline {
      font-size: 20px;
      font-family: $primary-sans;
      @include at-size(mobile) {
        font-size: 16px;
      }
    }
  }

  // -- Search section
  .section-search {
    @include section;
    margin: 48px auto 24px;

    &.filter-open { margin-bottom: 0px; }
    .search-input { margin-right: 8px;  }

    .search-btn {
      margin-left: 8px;
      font-size: 0.8rem;
      letter-spacing: 2px;
    }

    .filters-btn-wrap {
    }


    @include at-size(small) {
      margin-bottom: 0;
      flex-direction: column;
      .search-input { margin-right: 0px;  }
      .filters-btn-wrap {
        margin-top: 16px;
        width: 100%;
        .button {
          width: 100%;
        }
      }
    }
  }

  // -- Filter section
  .section-filters {
    @include section;
    margin-top: 12px;
    margin-bottom: 8px;

    .filter-btn-wrap { margin-right: 8px; }

    @include at-size(small) {
      flex-direction: column;
      display: flex;
      .filter-btn-wrap { margin-right: 0; }
      .button {width: 100%; margin: 4px 0;}
    }

    &.hide {
      display: none;
    }
  }


  // Columns / Recipes List

  .columns {
    column-gap: 64px;
    margin: 0 auto;
    max-width: $tablet;
    padding: 0px 0 32px 0;

    @include at-size(mobile) {
      padding: 24px;
      columns: 1 !important;
    }
  }

  .col-2 {columns: 2;}
  .col-1 {columns: 1;}

  ul {
    list-style-type: none;
    margin-left: 0;
    li {
      padding: 4px 0;
      color: $black;
      font-weight: bold;
    }
  }

  .recipe-category {
    text-transform: capitalize;
    background: #dfdfdf;
    padding: 4px;
    font-family: $primary-sans;
    font-weight: 100;
    text-transform: uppercase;
  }
}
