.RecipeSingle {
  // -- &:HERO
  .viewHero {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    font-family: $primary-sans, Arial;
    justify-content: center;
    margin-bottom: $section-bottom / 2;
    height: 448px;
    position: relative;
    margin: 48px auto 24px;
    padding: 0 24px;
    max-width: 1152px;


    @include at-size(mobile) {
      margin: 0;
      margin-bottom: 24px;
      height: 300px;
      width: 100%;
      padding: 0;
    }


    .vh-recipe-name {
      font-size: $font-h2;
      font-family: $primary-serif;
      padding: 0px 0 32px;

      @include at-size(mobile) {
        font-size: $font-h4;
      }
      @include at-size(medium) {
        font-size: $font-h3;
      }

      @include at-size(wide) {
        font-size: $font-h2;
      }
    }

  }

  .view-metadata {
    margin: 24px 0 128px;
    border-bottom: 2px solid #333;

    @include at-size(mobile) {
      margin: 0px 0 96px;
    }
    h1 {
      font-size: 48px;
      color: #333;
      @include at-size(mobile) {
        margin-bottom: 16px;
        font-size: 24px;

      }
    }

    .link {
      &:hover {
        color: orange;
      }
    }

    .vh-metadata {
      font-size: 18px;
      list-style-type: none;
      display: flex;
      margin: 24px 0 8px 0;
      justify-content: space-between;

      @include at-size(mobile) {
        flex-direction: column;
        font-size: $font-h5;
      }
    }


  }

  .delta-hr {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin: 0 0 96px;
    color: #777;

    .delta {
      padding: 32px;
    }

    .border {
      display: flex;
      flex: 1;
      height: 1px;
      background: #777;
    }

    @include at-size(mobile) {
      margin-bottom: 0;
      //       display: none;
    }
  }

  // -- &:PHOTOS

  .photos {
    display: flex;
    margin: 0px 0px $section-bottom;
    align-items: center;
    justify-content: space-around;

    @include at-size(mobile) {
      flex-direction: column;
      margin: 16px;
    }
  }

  .photo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    margin: 0 12px;
    padding: 16px;
    width: 350px;

    @include at-size(mobile) {
      width: 100%;
      margin: 0 32px 16px;
      border-radius: 4px;
    }
  }

  // -- &:COMMENTARY

  .commentary {
    margin-bottom: $section-bottom;
    @include at-size(mobile) {
      margin-bottom: $section-bottom / 2;
    }

    .blurb {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      max-width: 600px;
      margin: 0px auto;
      font-size: 18px;
      line-height: 2;
      color: $off-black;
    }

    .dialogue {
      align-content: center;
      max-width: 500px;
      margin: 0px auto;
      display: flex;
      flex-direction: column;
      font-family: $primary-sans;

      .item {
        padding: 24px;
        margin: 12px 0;
        font-size: 20px;
        position: relative;
        border-radius: 0.4em;
        display: inline-flex;

        &:nth-child(odd) {
          align-self: flex-start;
          background: #ffd397;
          color: #333;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-right-color: #ffd397;
            border-left: 0;
            margin-top: -10px;
            margin-left: -10px;
          }
        }

        &:nth-child(even) {
          align-self: flex-end;
          background: #c7d6c7;
          color: #333;

          &:after {
            content: "";
            position: absolute;
            align-self: flex-end;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-left-color: #c7d6c7;
            border-right: 0;
            text-align: right;
            margin-top: -10px;
            margin-right: -10px;
          }
        }
      }
    }

    .whisper {
      font-size: 15px;
      font-style: italic;
      font-weight: 100;
      max-width: 470px;
      display: table;
      margin: 0 auto;
      letter-spacing: 1px;
      padding: 32px;
      line-height: 2;
      text-align: center;
      border: 1px dotted grey;
    }

    .big-quote {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      max-width: 600px;
      margin: 0px auto;
      font-size: 18px;
      line-height: 2;
      color: #444;

      .item {
        font-size: 72px;
        line-height: 120%;
        text-align: center;

        @include at-size(mobile) {
          font-size: $font-h4;
        }
      }
    }

    .haiku {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      margin: 0px auto;

      .item {
        padding: 24px;
        margin: 12px 0;
        font-size: 20px;
        font-weight: 100;
        font-style: italic;
        text-align: center;
        color: #888;
      }
    }

    .dialogue {
    }
  }

  // -- &:INSTRUCTIONS/INGREDIENTS -------------------------------------

  .instruction-ingredients {
    display: flex;
    margin-bottom: $section-bottom;
    @include at-size(mobile) {
      flex-direction: column;
      margin-bottom: 0px;
    }
  }

  .Instructions {
    @include at-size(mobile) {
      order: 1;
    }
    padding-left: 0;
    padding: 0 48px 0 0;
  }

  .Ingredients {
    padding-left: 24px;
    @include at-size(mobile) {
      padding: 0;
    }
  }

  .instr-ingr-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: $primary-sans;
    // padding: 0px 48px;
    @include at-size(mobile) {
      padding: 0;
      margin-bottom: 16px;
      display: block;
    }
  }

  .separator {
    width: 2px;
    background: #efefef;
    height: 180px;
    align-self: center;

    @include at-size(mobile) {
      display: none;
    }
  }

  .instructions-group {
    flex: 1;
    @include at-size(mobile) {
      margin-bottom: 24px;
    }
  }

  .instruction-compiled {
    padding-right: 12px;
    flex: 1;
  }

  .instruction {
    margin-bottom: 32px;
    padding-left: 12px;
    border-left: 3px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    min-height: 26px;
    line-height: 1.5;

    &.active {
      border-left: 3px solid $primary;
    }
  }

  .instruction-num {
    display: flex;
    padding-right: 4px;
  }

  .parsed-ingredient {
    font-weight: bold;
    color: #222;
    padding: 0 2px;
    border-bottom: 1px dashed black;
  }

  .instruction-and-timer {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  .ingredients {
    flex: 1;
  }

  $border-col: #efefef;
  .ingredient {
    display: flex;
    padding: 8px 12px;
    &:nth-child(odd) {
      background: #fafafa;
      border-top: 1px solid $border-col;
      border-bottom: 1px solid $border-col;
    }

    &:last-child {
      border-bottom: 1px solid $border-col;
    }

    .quant-unit {
      display: flex;
    }
    .quant {
      padding-right: 4px;
    }

    .name {
      flex: 1;
      padding-right: 4px;
    }
  }

  // -- &:TIMER ---------------------------------------------------

  .timer-icon {
    align-items: center;
    align-self: center;
    background-image: url("/icons/watch.svg");
    display: flex;
    font-size: 12px;
    height: 24px;
    justify-content: center;
    width: 24px;
    opacity: 0.7;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 1;
    }
  }

  .timer-null {
    display: none;
  }

  .timers {
    position: fixed;
    display: flex;
    bottom: 24px;
    left: 24px;

    @include at-size(mobile) {
      display: flex;
      flex-direction: column;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0;
      margin: 0;
    }
  }

  .timer {
    background: #333;
    color: white;
    display: flex;
    margin: 0 12px;
    padding: 8px 12px;
    align-items: center;

    @include at-size(mobile) {
      margin: 0;
      justify-content: space-between;
      border-top: 1px solid #555;
    }

    .time-string {
      align-self: center;
      display: flex;
      align-self: center;
      min-width: 40px;
      justify-content: center;
    }

    .close-btn {
      cursor: pointer;
      font-size: 24px;
      margin-left: 8px;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(255, 255, 255, 0.7);
      margin-top: -2px;

      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}
