@import "_vars";

// -- RESET --------------------------------------------------------------------

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol,  ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; /* vertical-align: baseline; */} /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;} body {line-height: 1;} ol, ul {/* list-style: none; */ margin-left: 16px;} blockquote, q {quotes: none;} blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;} table {border-collapse: collapse; border-spacing: 0;} body, html {padding: 0; margin: 0; font-weight: 400; height: 100%; display: flex; flex-direction: column;} html { height: 100%; overflow:auto; } body { height: 100%; } th, td {text-align: left; padding: 8px;} a {border-bottom: 1px solid dotted; text-decoration: none; color: black;} hr {border: none; width: 100%; height: 2px; width: 100%; background-color: white;}

// -- Defaults -----------------------------------------------------------------

body {
  font-family: "Plex-Serif";
  line-height: 1.4;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 16px 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1rem;
  font-weight: bold;
}
b {
  font-size: 1.2rem;
}
p {
  margin: 16px 0;
}

// -- Common Classes -----------------------------------------------------------

.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include at-size(mobile) {
    padding: 0 20px;
  }
}

.ext-link {
  padding-bottom: 2px;
  border-bottom: 1px dotted grey;

  &:after {
    content: "ˆ";
    color: coral;
  }

  &.light {
    color: white;
    padding-bottom: 2px;
    border-bottom: 1px dotted grey;
  }
}


.main {
  display: flex;
  justify-content: center;
  flex: 1;
}

// -- The Nav

.Navbar {
  position: absolute;
  justify-content: space-between;
  display: flex;
  width: 100%;
  align-items: center;
  z-index: 2;
  font-family: $primary-sans;
  font-size: 13px;
  text-transform: uppercase;

  .nav-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 16px;
    @include at-size(mobile) {
      padding: 0;
    }
  }

  .name-icon {
    align-items: center;
    background: #222;
    display: flex;
    letter-spacing: 1px;
    color: white;
  }

  .links {
    display: flex;
    min-height: 42px;
    background: #222;
  }

  .link {
    align-self: center;
    padding: 8px 12px;
    letter-spacing: 1px;
    display: flex;
    cursor: pointer;
    color: white;
    transition: all 0.1s;
    &:hover, &:active {
      color: orange;
    }
  }
}


// Modular CSS -----------------------------------------------------------------

.bold {
  font-weight: bold;
}

.pr1 { padding-right: 4px; }
.pr2 { padding-right: 8px; }


// Elm Ui Classes --------------------------------------------------------------

.section-heading {
  color: $off-black;
  font-family: $primary-serif;
  font-size: 1.8em;
  text-align: center;
  margin-bottom: $section-bottom / 2;
  @include at-size(mobile) {
    margin: 24px 0;
  }
}
