.RecipeList {
  .columns {
    column-gap: 64px;
    columns: 2;
    line-height: 1.5rem;
    margin: 0 auto;
    max-width: 993px;
    padding: 0px 0 32px 0;
  }

  ul {
    list-style-type: none;
    li {
      padding: 4px;
      color: #333;
      font-weight: bold;
    }
  }
}

.RecipeSingle {
  .photos {
    display: flex;
    margin: 24px 16px;
    align-items: center;
  }

  .photo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    margin: 0 12px;
    padding: 16px;
    width: 350px;
  }

  .instruction-ingredients {
    display: flex;
  }

  .instr-ingr-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 64px;
    line-height: 2;
    font-family: serif;
    font-size: 18px;
  }

  .separator {
    width: 2px;
    background: #efefef;
    height: 80px;
    align-self: center;
  }

  .instructions {
    // list-style-type: number;
    flex: 1;
  }

  .ingredients {
    flex: 1;
  }
  .ingredient {
    display: flex;

    .quant-unit {
      display: flex;
    }
    .quant {
      padding-right: 4px;
    }
    .name {
      flex: 1;
    }
  }
}
