.RecipeList {
  .columns {
    column-gap: 64px;
    columns: 2;
    line-height: 1.5rem;
    margin: 0 auto;
    max-width: 993px;
    padding: 0px 0 32px 0;
  }

  ul {
    list-style-type: none;
    li {
      padding: 4px;
      color: #333;
      font-weight: bold;
    }
  }
}

.RecipeSingle {
  .photos {
    display: flex;
    margin: 24px 16px;
    align-items: center;
  }

  .photo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    margin: 0 12px;
    padding: 16px;
    width: 350px;
  }

  // -- &:INSTRUCTIONS/INGREDIENTS -------------------------------------

  .instruction-ingredients {
    display: flex;
    font-size: 15px;
    padding: 5% 0;
  }

  .instr-ingr-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 24px 48px;
    line-height: 1.6;
    font-family: Arial;
  }

  .separator {
    width: 2px;
    background: #efefef;
    height: 180px;
    align-self: center;
  }

  .instructions-group {
    flex: 1;
    padding-top: 24px;
  }

  .instruction-compiled {
    padding-right: 12px;
    flex: 1;
  }

  .instruction {
    margin-bottom: 24px;
    padding-left: 12px;
    padding-right: 16px;
    border-left: 3px solid rgba(0, 0, 0, 0);
    cursor: pointer;

    &.active {
      border-left: 3px solid $primary;
    }
  }

  .instruction-num {
    display: flex;
    padding-right: 4px;
  }

  .instruction-and-timer {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  .ingredients {
    padding-top: 24px;
    flex: 1;
  }

  $border-col: #efefef;
  .ingredient {
    display: flex;
    padding: 8px 12px;
    &:nth-child(odd) {
      background: #fafafa;
      border-top: 1px solid $border-col;
      border-bottom: 1px solid $border-col;
    }

    &:last-child {
      border-bottom: 1px solid $border-col;
    }

    .quant-unit {
      display: flex;
    }
    .quant {
      padding-right: 4px;
    }

    .name {
      flex: 1;
      padding-right: 4px;
    }
  }

  // -- &:TIMER ---------------------------------------------------

  .timer-icon {
    align-items: center;
    align-self: center;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    font-size: 12px;
    height: 24px;
    justify-content: center;
    width: 24px;
  }

  .timer-null {
    display: none;
  }

  .timers {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    margin: 16px;
  }

  .timer {
    background: #333;
    color: white;
    margin: 0 12px;
    padding: 4px 16px;
  }
}
