/* spacing */
$section-bottom: 128px;

$tablet: 800px;
$heroSize: 320px;

/* Fonts */
$font-h1: 64px;
$font-h2: 48px;
$font-h3: 32px;

/* Colour */

$off-black: #555;
$black: #333;

$primary: #27ae60;

$primary-serif: "Plex-Serif";
$primary-sans: "Plex-Sans";
