@import "reset";
@import "recipes";


/*
/* All Recipes
*/
.RecipeList {

  .columns {
    column-gap: 64px;
    columns: 2;
    line-height: 1.5rem;
    margin: 0 auto;
    max-width: 993px;
    padding: 0px 0 32px 0;
  }

}
