/* Common ---------------------------------------------------------------------*/

.content {
  max-width: 868px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-w {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;

}


.link-light {
  color: white;
  padding-bottom: 1px;
  border-bottom: 1px dotted orange;
}


/* View Functions */

/* Image Hero */
.v_Hero {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Giant Quote */
.v_GiantQuote {
  display: flex;
  padding: 100px 0;
  margin: 100px 0;
}

.v_giantQuoteText {
  font-size: 100px;
  line-height: 90%;
  text-align: right;
  font-weight: bold;
  padding: 24px 48px;
  border-right: 3px dotted orchid;
}

.v_giantQuoteSym {
  font-size: 300px;
  padding: 32px;
  align-self: center;
}

.v_LargeText {
  text-transform: uppercase;
  /* padding: 0 0 48px 0px; */
  padding: 16px;
  margin: 0 0 32px 0;
  font-style: oblique;
  background: #222;
  color: white;
  letter-spacing: 8px;
  font-size: 32px;
  text-align: center;
}

.v_TimerFixed {
		position: fixed;
		bottom: 0;
		width: 100%;
		padding: 24px 0;
		background: #333;
		color: white;
		justify-content: center;
		align-content: center;
		display: flex;
		transition: all 0.5s ease;
}

.v_TimerText {
	align-self: center;
	max-width: 60%;
	overflow-x: scroll;
	white-space: nowrap;
	alignSelf: center;
}


.v_TimerFixed_hidden {
		position: fixed;
		bottom: -80px;
		width: 100%;
		padding: 24px 0;
		background: #333;
		color: white;
		justify-content: center;
		align-content: center;
		display: flex;
		transition: all 0.5s ease;
}

.v_TimerFixed_closeBtn {
    position: fixed;
    right: 24px;
    margin-top: 2px;
				cursor: pointer;
}


















/* UTILITIES */

.flex {
		display: flex;
}

.justify-between {
		justify-content: space-between;
}

.pr1 {padding-right: 8px;}
.pr4 {padding-right: 64px;}
