/* Common ---------------------------------------------------------------------*/

.content {
  max-width: 868px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-w {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-xw {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
}


.link-light {
  color: white;
  padding-bottom: 1px;
  border-bottom: 1px dotted orange;
}


/* View Functions */

/* Image Hero */
.v_Hero {
  height: 500px;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Giant Quote */
.v_GiantQuote {
  display: flex;
  padding: 160px 0;
}

.v_giantQuoteText {
  font-size: 100px;
  line-height: 100%;
  text-align: right;
  font-weight: bold;
  padding: 24px 48px;
  border-right: 3px dotted orchid;
}

.v_giantQuoteSym {
  font-size: 300px;
  padding: 32px;
  align-self: center;
}


.v_Blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 600px;
  margin: 96px auto;
  font-size: 18px;
  line-height: 2;
  color: var(--offblack);
}

.v_Dialogue {
  align-content: center;
  max-width: 500px;
  margin: 192px auto;
  display: flex;
  flex-direction: column;

}

.v_DialogueItem {
  padding: 24px;
  margin: 12px 0;
  color: var(--offwhite);
  font-size: 20px;
  position: relative;
	border-radius: .4em;
  background: var(--darkblue);
  display: inline-flex;

}

.v_DialogueItem-l {
  align-self: flex-start;
}

.v_DialogueItem-r {
  align-self: flex-end;
}

.v_DialogueItem-l:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right-color: var(--darkblue);
	border-left: 0;
	margin-top: -10px;
	margin-left: -10px;

}
.v_DialogueItem-r:after {
	content: '';
	position: absolute;
  align-self: flex-end;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-left-color: var(--darkblue);
	border-right: 0;
  text-align: right;
	margin-top: -10px;
	margin-right: -10px;


}

.v_Haiku {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 128px auto;
}

.v_HaikuItem {
  padding: 24px;
  margin: 12px 0;
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  color: #888;
}

.v_Whisper {
  font-size: 15px;
  font-style: italic;
  font-weight: 100;
  max-width: 470px;
  display: table;
  margin: 128px auto;
  letter-spacing: 1px;
  padding: 32px;
  line-height: 2;
  text-align: center;
  border: 1px dotted grey;
}

.v_LargeText {
  text-transform: uppercase;
  padding: 16px;
  margin: 0 0 32px 0;
  font-style: oblique;
  background: #222;
  color: white;
  letter-spacing: 8px;
  font-size: 32px;
  text-align: center;
  align-self: center;
}

.v_Heading {
  font-size: 24px;
  font-weight: 700;
}

.v_TimerFixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 24px 0;
  background: #333;
  color: white;
  justify-content: center;
  align-content: center;
  display: flex;
  transition: all 0.5s ease;
}

.v_TimerText {
  align-self: center;
  max-width: 60%;
  overflow-x: scroll;
  white-space: nowrap;
  alignSelf: center;
}


.v_TimerFixed_hidden {
  position: fixed;
  bottom: -80px;
  width: 100%;
  padding: 24px 0;
  background: #333;
  color: white;
  justify-content: center;
  align-content: center;
  display: flex;
  transition: all 0.5s ease;
}

.v_TimerFixed_closeBtn {
  position: fixed;
  right: 24px;
  margin-top: 2px;
  cursor: pointer;
}

.v_Navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 12px;
  padding: 16px 32px;
  justify-content: space-between;
  display: flex;
  color: #f1c40f;
  align-items: center;
  z-index: 1;
}


.v_Navbar div {
  display: flex;
  padding-right: 12px;
}

.v_Navbar_text {
  padding: 12px;
  letter-spacing: 2px;
  background: #222;
  align-items: center;
  color: #f1c40f;
}


.v_Modal {
  align-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.v_Modal--empty {
  display: none;
}

.v_Modal--close_btn {
  cursor: pointer;
  font-size: 24px;
  padding: 32px;
  position: absolute;
  right: 0;
  top: 0;
}


.v_Modal--ingredient {
  align-items: center;
  background: var(--offwhite);
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.06);
  color: var(--offblack);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  min-width: 25%;
  min-height: 35%;
}

.v_Modal--ingredientHeading {
  font-size: 28px;
  font-weight: bold;
  margin: 24px 0;
}

.v_Modal--ingredientQuant {
  font-size: 38px;
  font-weight: bold;
  margin: 16px 0;
}


/* UTILITIES */

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.pr1 {padding-right: 8px;}
.pr4 {padding-right: 64px;}
