/* Common ---------------------------------------------------------------------*/

.content {
  max-width: 868px;
  padding: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
}

.main {
  display: flex;
  flex-direction: column;
}

/* --- Loading Spinner --- */
.spinner                       {width: 40px; height: 40px; margin: 100px auto; background-color: #333; border-radius: 100%; animation: sk-scaleout 2.0s infinite ease-in-out;}
@-webkit-keyframes sk-scaleout {0% { -webkit-transform: scale(0) } 100% {-webkit-transform: scale(1.0); opacity: 0;}}
@keyframes         sk-scaleout {0% {-webkit-transform: scale(0); transform: scale(0);} 100% {-webkit-transform: scale(1.0); transform: scale(1.0); opacity: 0;}}




/* View Functions */

.v_fourOhFour {
  align-items: center;
  display: flex;
  font-family: arial;
  font-size: 13px;
  justify-content: center;
  letter-spacing: 4px;
  min-height: 400px;
  text-transform: uppercase;
}

/* Image Hero */
.v_Hero {
  height: 448px;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* transition: all 1s ease; */
}

/* .v_Hero-loading::after { */
/*   /\* transition: all 1s ease; *\/ */
/*   content: ""; */
/*   display: block; */
/*   background: #333; */
/*   position: absolute; */
/*   top: 0; */
/*   left: 0; */
/*   width: 100%; */
/*   height: 100%; */
/*   z-index: 1; */
/*   opacity: 1.0; */
/* } */


/* .v_Hero-loaded::after { */
/*   content: ""; */
/*   display: block; */
/*   background: rgba(0, 0, 0, 0.6); */
/*   position: absolute; */
/*   top: 0; */
/*   left: 0; */
/*   width: 100%; */
/*   height: 100%; */
/*   z-index: 1; */
/*   opacity: 0.0; */
/*   /\* transition: all 1s ease; *\/ */
/* } */


/* Giant Quote */
.v_GiantQuote {
  display: flex;
  padding: 160px 0;
}

.v_giantQuoteText {
  font-size: 100px;
  line-height: 100%;
  text-align: right;
  font-weight: bold;
  padding: 24px 48px;
  border-right: 3px dotted orchid;
}

.v_giantQuoteSym {
  font-size: 300px;
  padding: 32px;
  align-self: center;
}


.v_Blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 600px;
  margin: 96px auto;
  padding: 32px;
  font-size: 18px;
  line-height: 2;
  color: var(--offblack);
}

.v_Dialogue {
  align-content: center;
  max-width: 500px;
  margin: 192px auto;
  display: flex;
  flex-direction: column;
}

.v_DialogueItem {
  padding: 24px;
  margin: 12px 0;
  color: var(--offwhite);
  font-size: 20px;
  position: relative;
  border-radius: .4em;
  background: var(--darkblue);
  display: inline-flex;

}

.v_DialogueItem-l {
  align-self: flex-start;
  background: #ffd397;
  color: var(--darkblue);
}

.v_DialogueItem-r {
  align-self: flex-end;
  background: #c7d6c7;
  color: var(--darkblue);
}

.v_DialogueItem-l:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #ffd397;
  border-left: 0;
  margin-top: -10px;
  margin-left: -10px;

}
.v_DialogueItem-r:after {
  content: '';
  position: absolute;
  align-self: flex-end;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #c7d6c7;
  border-right: 0;
  text-align: right;
  margin-top: -10px;
  margin-right: -10px;
}

.v_Haiku {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 128px auto;
}

.v_HaikuItem {
  padding: 24px;
  margin: 12px 0;
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  color: #888;
}

.v_Whisper {
  font-size: 15px;
  font-style: italic;
  font-weight: 100;
  max-width: 470px;
  display: table;
  margin: 128px auto;
  letter-spacing: 1px;
  padding: 32px;
  line-height: 2;
  text-align: center;
  border: 1px dotted grey;
}

.v_LargeText {
  text-transform: uppercase;
  padding: 16px;
  /* margin: 0 0 32px 0; */
  margin: 0;
  font-style: oblique;
  background: #222;
  color: white;
  letter-spacing: 8px;
  font-size: 32px;
  text-align: center;
  align-self: center;
}

.v_Heading {
  font-size: 24px;
  font-weight: 700;
}

.v_Heading-grey {
  background: #efefef;
  color: #333;
  font-size: 16px;
  letter-spacing: 4px;
  margin: 16px 0;
  padding: 4px 8px;
  text-transform: uppercase;
}

.v_TimerFixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 4px 0;
  /* color: white; */
  color: #555;
  display: flex;
}

.v_TimerFixed_hidden {
  position: fixed;
  bottom: -80px;
  width: 100%;
  padding: 24px 0;
  background: #333;
  color: white;
  justify-content: center;
  align-content: center;
  display: flex;
}

.v_TimerBlock {
  align-items: center;
  background: #ababab;
  border-radius: 2px;
  border: 1px solid #555;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  margin: 12px;
  padding: 4px 8px;
}


.v_TimerText {
  align-self: center;
  overflow-x: scroll;
  padding-right: 8px;
  white-space: nowrap;
  alignSelf: center;
}

.v_TimerFixed_closeBtn {
  right: 24px;
  margin-top: 2px;
  cursor: pointer;
}

.v_Navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 12px;
  padding: 16px 32px;
  justify-content: space-between;
  display: flex;
  color: #f1c40f;
  align-items: center;
  z-index: 2;
}

.v_Navbar_icon-text {
  background: #222;
}


.v_Navbar div {
  display: flex;
  padding-right: 4px;
  height: 42px;
}

.v_Navbar_text {
  padding: 12px;
  letter-spacing: 2px;
  background: #222;
  align-items: center;
  color: #efefef;
  font-size: 14px;
  align-self: center;
  /* border-bottom: 2px solid white; */
}


.v_Modal {
  align-content: center;
  align-items: center;
  background: var(--modalBg);
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.v_Modal--empty {
  display: none;
}

.v_Modal--close_btn {
  cursor: pointer;
  font-size: 24px;
  padding: 32px;
  position: absolute;
  right: 0;
  top: 0;
}


.v_Modal--ingredient {
  align-items: center;
  background: var(--offwhite);
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.06);
  color: var(--offblack);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  min-width: 25%;
  min-height: 25%;
  margin: 24px;
}

.v_Modal--ingredientHeading {
  font-size: 28px;
  font-weight: bold;
  margin: 24px 0;
  text-align: center;
}

.v_Modal--ingredientQuant {
  font-size: 38px;
  font-weight: bold;
  margin: 16px 0;
}


.v_LoadingState {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
  height: 100vh;
}

/* UTILITIES */


.pr1 {padding-right: 8px;}
.pr4 {padding-right: 64px;}



@media(max-width: 900px) {
  .v_LargeText {
    margin: 0;
    letter-spacing: 2px;
    font-size: 24px;
    text-align: center;
    align-self: center;
  }

  .v_Dialogue {
    align-content: center;
    max-width: 80%;
    margin: 128px auto;
    display: flex;
    flex-direction: column;
  }

  .v_GiantQuote { padding: 64px 0; justify-content: center; width: 90%; margin: 0 auto;}

  .v_giantQuoteText {
    font-size: 32px;
    line-height: 100%;
    text-align: right;
    font-weight: bold;
    padding: 24px 48px;
    border-right: 3px dotted orchid;
    align-self: center;
  }

  .v_giantQuoteSym {
    font-size: 60px;
    padding: 32px;
    align-self: center;
  }

  .v_Whisper {
    font-size: 18px;
    max-width: 70%;
    margin: 64px auto;
    letter-spacing: 1px;
    padding: 32px;
    line-height: 2;
    text-align: center;
    border: 1px dotted grey;
  }


  .v_Modal--ingredient {
    align-items: center;
    background: var(--offwhite);
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.06);
    color: var(--offblack);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    min-width: 35%;
    min-height: 25%;
  }

  .v_Navbar {position: absolute; padding: 0; background: #222; width: 100%}
  .v_Navbar div {justify-content: center;}

}
