/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,  ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  /* vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
  /* margin-left: 16px; */
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Defaults -------------------------------------------------------------------*/

:root {
  --primary: #27ae60;
  --secondary: #27ae60;
  --darkblue: #34495e;
  --offwhite: #fdfdfd;
  --offblack: #333;
  --black: #000;

}

body, html {
  padding: 0;
  margin: 0;
  font-family: Arial, Sans-serif;
  font-weight: 400;
  height: 100%;
  display: flex;
  flex-direction: column;
}
html { height: 100%; overflow:auto; }
body { height: 100%; }

th, td {
  text-align: left;
  padding: 8px;
}


a {
  /* color: #fefefe; */
  border-bottom: 1px solid dotted;
  text-decoration: none;
}

hr {
  border: none;
  width: 100%;
  height: 2px;
  width: 100%;
  background-color: white;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}


/* RecipeSingle View---------------------------------------------------------------------*/

.recipeProperties {
  color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: center;
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center

}


.recipeIngredients_th {
  color: white;
}

.recipeMetaData {
  background: #222;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 16px 0;
  justify-content: space-around;
  /* position: absolute; */
  bottom: -32px;

}

.recipeMetaDatum {
  color: white;
  display: flex;
  font-style: oblique;
}


.recipeMeta {

}

.recipeIngredients-Instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  background: antiquewhite;
  padding: 84px 0;
}


/* Instructions */

.recipeInstructions {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  flex: 1;
  height: 100%;
  margin-left: 8px;
  /* list-style-type: none; */

  max-height: 550px;
  overflow-y: scroll;
  padding: 0 12px;
}


/* --- Ingredients --- */

.recipeIngredients-Instructions-bg {
  flex: 1;
  height: 100%;
  color: white;
  margin-right: 8px;
  align-self: flex-start;
  background: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  max-height: 550px;
  overflow-y: scroll;
  padding: 16px;
}



.recipeIngredientHeadRow {
  color: #333;
  background: #fafafa;
  height: 32px;
  border-bottom: 2px solid white;
  font-weight: 700;
}

.recipeIngredient {
  background: #fafafa;
  color: #333;
}

.recipeIngredient:nth-child(odd) {
  background: white;
}

/* --- Steps --- */

.recipeStep {
  align-items: center;
  background: white;
  color: #222;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  line-height: 22px;
  margin: 20px 0;
}

.recipeStep--active {
  font-weight: bold;
  border-left: 3px solid var(--primary);
}

.recipeStep--active:before {
  content: "";
  margin-right: -4px;
  background: var(--primary);
}


.recipeStepTimer {
  transition: all 0.3s ease;
  padding: 8px;
  align-self: stretch;
  justify-content: center;
  display: flex;
}

.recipeStep_Wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.recipeStep_TextContent {
  padding: 0px 16px;
}

/* RecipeSingle Photos */

.recipePhotos {
  display: flex;
  overflow-x: scroll;
  display: flex;
  justify-content: space-around;
  margin: 128px 0;
  margin-top: 0;
}

.recipePhoto {
  width: 350px;
  height: 200px;
  margin: 0 12px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 16px;
  border-radius: 8px;
}


/* RecipeList View: rL -------------------------------------------------------------*/

.rL {
}

.rL_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 64px 0;
}

.rL_list li {
  width: 50%;
  padding: 8px 0;
}

.rL_link {
  color: #333;
  font-weight: bold;
  /* padding: 24px 0; */
}

.rL_hero_data {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  padding: 32px;
  letter-spacing: 4px;
}

.rL_hero_li {
  padding: 4px 0;
}
