/* Recipes classeS: */
/* rs = recipeSingle (single view) */
/* rl = recipeList (list view) */



/* -- Recipe Metadata -- */

.rs_props {
  align-self: center;
  color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.rs_metadata {
  background: #222;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 16px 0;
  position: absolute;
  width: 100%;
}

.rs_metadatum {
  color: white;
  display: flex;
  font-style: oblique;
}


/* --- Ingredients + Instructions ---- */

.rs_ingr-instr-content {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1440px;
  padding: 32px 0 0 0;
  width: 100%;
}


.rs_ingr-inst {
  align-items: center;
  background: #fafafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 64px 0;
}

.rs_ingr {
  align-self: flex-start;
  background: white;
  border-radius: 3px;
  border: 1px solid lightgrey;
  flex: 1;
  height: 100%;
  margin-right: 16px;
  margin: 0 16px;
  padding: 16px;
}

.rs_inst {
  align-self: flex-start;
  background: white;
  border-radius: 3px;
  border: 1px solid lightgrey;
  color: white;
  flex: 1.5;
  height: 100%;
  margin-right: 8px;
  margin: 0 16px;
  padding: 16px;
}

.rs_ingr-headrow {
  background: #fafafa;
  border-bottom: 2px solid white;
  color: #333;
  font-weight: 700;
  height: 32px;
}

.rs_ingr-tablerow {
  background: #fafafa;
  color: #333;
}

.rs_ingr-tablerow:nth-child(odd) {
  background: white;
}

/* --- Steps --- */

.rs_step {
  align-items: center;
  background: white;
  color: #222;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  margin: 22px 0;
}

.rs_step:first-child {
  margin-top: 12px;
}

.rs_stepSingleIngredient {
  border-radius: 2px;
  border: 1px solid #333;
  cursor: pointer;
  margin-left: 4px;
  margin-right: 5px;
  padding: 3px 2px 4px 6px;
}

.rs_step--active {
  border-left: 3px solid var(--primary);
}

.rs_step--active:before {
  content: "";
  margin-right: -3px;
  background: var(--primary);
}

.rs_stepTimer {
  transition: all 0.3s ease;
  padding: 8px;
  align-self: stretch;
  justify-content: center;
  display: flex;
}

.rs_step-wrap {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.rs_step-textcontent {
  font-size: 16px;
  line-height: 28px;
  padding: 0px 16px;
}

/* RecipeSingle Photos */

.rs_photos {
  display: flex;
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  margin: 128px auto;
  max-width: 1440px;
  overflow-x: scroll;
}

.rs_photo {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  height: 200px;
  margin: 0 12px;
  padding: 16px;
  width: 350px;
}


/* RecipeList View: rL -------------------------------------------------------------*/

.rl_list    {padding: 0; list-style-type: none;}
.rl_list li {padding: 4px;}
.rl_link    {color: #333; font-weight: bold;}

.rl_hero_li {padding: 4px 0;}
.rl_hero_data {
  bottom: 0;
  color: white;
  left: 0;
  letter-spacing: 4px;
  list-style-type: none;
  padding: 32px;
  position: absolute;
}


.rl_columns {
  max-width: 993px;
  padding: 48px;
  margin: 0 auto;
  line-height: 1.5rem;
  columns: 2;
  column-gap: 64px;
}

.rl_column-header {
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 4px 8px;
  font-size: 16px;
  margin: 16px 0;
  background: #efefef;
  /* display: inline-flex; */
  color: #333;
}




@media(max-width: 900px) {
  .rs_ingr-inst          {padding: 32px 0;}
  .rs_ingr-instr-content {flex-direction: column; padding: 12px 0 16px 0;}
  .rs_ingr               {flex: 1; height: 100%; margin: 32px 16px; align-self: auto;}

  .rs_metadata {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: -234px;
    columns: 2;
    display: block;
    margin-bottom: 96px;
  }

  .rs_metadatum {padding: 8px 0; display: block; text-align: center;}
  .rs_photos {flex-direction: column; margin: 0 16px 48px 16px; align-items: center;}
  .rs_photo {width: 80%; height: 40vh; margin-bottom: 32px;}
  .rs_recipe-name {position: absolute; bottom: 256px;}


  /* --- */
  .rl_hero_data {display: none;}

  .rl_list li { /* truncate text on mobile */
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 500px;
  }

  .rl_columns {columns: 1; padding: 32px 16px;}
  .rl_column-header {}
}
